$var-bgcolor-base: #ddd;
$nav-links: #666;
$var-logo-width: 280px;
$text-color:#333;
$link-primary:#E96A1E;
$black:#000;
$white:#fff;
$selection:#F4E0BD;
$smoke:rgba($black,0.1);
$ash:rgba($black,0.3);

//use Roboto font
html {
    font-family: sans-serif;
    font-weight: 400;
}
body input, body button, body select, body textarea {
    font-family: sans-serif;
}


// disable anonymous stats
html.anon section.about.stats { display: none; }

//Disable categories
.topic-list .category.sortable, .topic-list .category, .category-links.clearfix .select-box .select-box-header {
    display: none;
}

topic-meta-data .username {display: none;}
.list-controls .category-breadcrumb .has-drop.box { display: none; }

#create-topic.btn,
.widget-button.btn.create,
a.btn-primary,
.btn-primary {
  border: 1px solid $link-primary;
  color: $white !important;
  background-color: $link-primary !important;

  &:hover {
    color:$link-primary !important;
    border-color: $link-primary !important;
    background-color: $white !important;
  }
  &[disabled] {
    background-color: $link-primary !important;
  }
  &[disabled]:hover {
    background-color: $white !important;
  }

}
#create-topic.btn {
  color: $link-primary !important;
}
